extends layout

block title
    title #{CONSTANTS.SITE.TITLE} | Add Edit Product Rules

block content
    script(src='/javascripts/rules.js')
    script(src='/javascripts/edit.js')
    script(src='/javascripts/vendor/jquery.sortable.js')
    script.
        preload_categoryId(!{JSON.stringify(categoryId)})
    div(class="section no-pad-bot")
        div(class="container")
            div(class="row")
                ul(class="side-nav fixed",data-categories="categories")

                div(class="col s12 push-s1")
                    a(class="waves-effect waves-light btn right modal-trigger teal" href="#product_selector") #{CONSTANTS.LABELS.addnewproduct}
                    div(id="product_selector",class="modal modal-fixed-footer")

                        div(class="modal-content")
                            div(class="row fixed_header")
                                div(class="col s6")
                                    input(type="text",placeholder="Search product by name",data-action="search-product")
                                div(class="col s6")
                                    a(class="dropdown-button btn btn-block", href='#', data-activates='dropdown-sorting')
                                        span(data-value="current-sorting-value",value="") Default
                                    ul(id='dropdown-sorting', class='dropdown-content')
                                        li
                                            each  sort in CONSTANTS.SORTING_OPTIONS
                                                a(value="#{sort.value}",text="#{sort.text}") #{sort.text}


                            div(data-products="products",class="fixed_header_scrolling_content")

                        div(class="modal-footer")
                            a(class="btn waves-effect waves-green red left",title="Load more",data-action="load-more-products",data-pagesize="8") #{CONSTANTS.LABELS.loadproduct}
                            a(href="#!" class=" modal-action modal-close waves-effect waves-green btn green",data-action="add-products-to-rule") #{CONSTANTS.LABELS.addproduct}

                div(class="col s12 push-s1")
                    ul(class="sortable grid",data-rule-products="rules-products")



        script.
            activateDnD()
