extends layout

block title
    title #{CONSTANTS.SITE.TITLE} | Product Rules

block content
    div(class="container")
        div(class="row")
            h3(class="center-align") Rules List
        div(class="row")
            table(class="responsive-table bordered highlight")
                thead
                    tr
                        th Rule Name & ID
                        th(class="center-align") Edit
                        th(class="center-align") Delete
                tbody(data-product-list)
                    each item in product_rules.items
                        tr(id="rule_#{item.searchTuningRuleCode}",data-total-count="#{product_rules.totalCount}")
                            td
                                a(class="waves-effect waves-red teal-text ",href="#{CONSTANTS.SERVICE_URLS.edit}/#{item.filters[0].value}") #{item.searchTuningRuleName} -  #{item.filters[0].value}
                                    small(class="teal-text lighten-4") &nbsp;&nbsp;(#{item.searchTuningRuleCode})
                            td(class="center-align")
                                a(class="waves-effect waves-light-blue btn-flat ",href="#{CONSTANTS.SERVICE_URLS.edit}/#{item.filters[0].value}") <i class="material-icons">mode_edit</i>
                            td(class="center-align")
                                a(class="waves-effect waves-red btn-flat",data-rule-delete="#{item.searchTuningRuleCode}",data-rule-name="#{item.searchTuningRuleName}") <i class="material-icons">delete</i>
    script(src='/javascripts/index.js')
    div(class="fixed-action-btn", style="bottom: 10px;right: 0;margin: 0 auto;width: 100%;left: 0px;text-align: center;")
        a(class="btn-floating btn-large red",title="Load more",data-action="load-more-rules",data-startIndex="#{product_rules.startIndex}",data-pageSize="#{product_rules.pageSize}") <i class="large material-icons">forward_10</i>
