doctype html
html
  head
    block title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/vendor/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/jquery-2.2.3.js')
    script(src='/javascripts/vendor/materialize.min.js')
    script(src='/javascripts/common.js')
    script.
        preload_CONSTANTS(!{JSON.stringify(CONSTANTS)})
  body
    div(class="preloader-container valign-wrapper ")
        div(class="preloader-wrapper big active valign")
            div(class="spinner-layer spinner-blue")
                div(class="circle-clipper left")
                    div(class="circle")
                div(class="gap-patch")
                    div(class="circle")
                div(class="circle-clipper right")
                    div(class="circle")
    div(class="navbar-fixed")
        nav
            div( class="nav-wrapper")
                a( href="wwww.shindigz.com", class="brand-logo center") #{CONSTANTS.SITE.TITLE}
                ul(id="nav-mobile" class="right hide-on-med-and-down")
                    li
                        a(class="waves-effect waves-light black-text",data-publish="publish-rule") <i class="tiny material-icons left">backup</i>publish
                    li
                        a(href="#{CONSTANTS.SERVICE_URLS.edit}") Edit Pages
                    li
                        a(href="/") View rules

    block content
