if data.totalCount == 0
    h4
        small No products are available in this page.
else
    each item in data.items
        div(data-hidden-product-container="#{item.productCode}")
            input(type="checkbox",name="add-product-to-rule",id="#{item.productCode}",data-productname="#{item.content.productName}" ,class="filled-in")
            label(for="#{item.productCode}",data-productcode="#{item.productCode}",data-total-products="#{data.totalCount}",) #{item.content.productName} (#{item.productCode})
            li(class="card product",data-productcode="#{item.productCode}",style="display:none;")
                div( class="card-image")
                    div(class="product-image",style="background-image:url('#{item.content.productImages[0].imageUrl}')")
                        span( class="card-title deep-orange-text darken-4") #{item.content.productName}
                        a(class="btn-floating btn waves-effect waves-light red right",data-action="removeitem",productcode="#{item.productCode}") <i class="material-icons">delete</i>
                div( class="card-action")
                    a(href="#") $ #{item.price.price}
