
each item in data.items
    tr(id="rule_#{item.searchTuningRuleCode}",data-total-count="#{data.totalCount}")
        td
            a(class="waves-effect waves-red teal-text ",href="#{CONSTANTS.SERVICE_URLS.edit}/#{item.filters[0].value}") #{item.searchTuningRuleName} -  #{item.filters[0].value}
                small(class="teal-text lighten-4") &nbsp;&nbsp;(#{item.searchTuningRuleCode})
        td(class="center-align")
            a(class="waves-effect waves-light-blue btn-flat ",href="#{CONSTANTS.SERVICE_URLS.edit}/#{item.filters[0].value}") <i class="material-icons">mode_edit</i>
        td(class="center-align")
            a(class="waves-effect waves-red btn-flat",data-rule-delete="#{item.searchTuningRuleCode}",data-rule-name="#{item.searchTuningRuleName}") <i class="material-icons">delete</i>
