each item in data.items
    li(class="card product",data-productcode="#{item.productCode}",data-productcode-remove="#{item.productCode}")
        div( class="card-image")
            div(class="product-image",style="background-image:url('#{item.content.productImages[0].imageUrl}')")
                span( class="card-title deep-orange-text darken-4") #{item.content.productName}
                a(class="btn-floating btn waves-effect waves-light red right",data-action="removeitem",productcode="#{item.productCode}") <i class="material-icons">delete</i>
        div( class="card-action")
            a(href="#") $ #{item.price.price}
