.preloader-container {
    z-index: 10000;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.61);
    text-align: center;
}
.preloader-wrapper.big.active{
    z-index: 1000;
    margin: 0 auto;
}
.side-nav{
    top: 65px;
}
.connected, .sortable, .exclude, .handles {
	margin: auto;
	padding: 0;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
}
.connected li, .sortable li, .exclude li, .handles li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
	/*padding: 5px;*/
	height: 22px;
}
.handles span {
	cursor: move;
}
li.disabled {
	opacity: 0.5;
}
.sortable.grid li {
	/*line-height: 80px;*/
	float: left;
    width: 200px;
    height: 300px;
    text-align: center;
}
li.highlight {
	background: #FEE25F;
}
#connected {
	width: 440px;
	overflow: hidden;
	margin: auto;
}
.connected {
	float: left;
	width: 200px;
}
.connected.no2 {
	float: right;
}
li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
}
/* product listing style */
.product{
    margin: 0px;
}
.product .card-image .card-title{
    color: #000;
    font-size: 12px;
    line-height: 14px;
    display: block;
    padding: 0px 5px;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgba(0,0,0, 0.65);
    font-weight: 600;
}
.product .card-image .product-image{
    width: 188px;
    height: 250px;
    background-size: contain;
    background-color: transparent;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center;
}
.product .card-action{
    padding: 12px 5px;
    line-height: 24px;
}
.product .card-action a{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.fixed_header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #795548;
    display: block;
    z-index: 1;
    padding: 10px 15px 0px 15px;
}
.fixed_header_scrolling_content{
    position: relative;
    top: 53px;
}

.sortable-dragging{
    background-color: #FEC938;
}
